.newsletter {
  text-align: center;
  height: 30px;
  background-color: rgb(235, 157, 55);
}

.slider {
  box-shadow: 2px 3px 4px 5px lightgray;
  margin-top: 10px;
  height: 800px;
  /* background: rgba(0, 0, 0, 1.99); */
}
.bannerimg {
  width: 70%;
  height: 800px;
  opacity: 0.85;
  object-fit: cover;
}
.images {
  width: 100%;
  display: flex;
  align-items: center;
}
.imgText {
  font-size: 70px;
  font-weight: 700;
  margin-left: 20px;
}
