.product_Container {
  width: 100%;
  margin-top: 40px;
  /* display: flex; */
  /* flex-direction: row; */
  margin-top: 10%;
}
.productconatiner {
  margin-top: 5%;
}
.product-itemssss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-items {
  width: 30%;
  height: 500px;
  margin: 15px;
  box-shadow: 0px 1px 5px #e6e6e6;
}
.product-item:hover .product-details {
  transform: scale(1.05);
  z-index: 999;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* .products {
  margin-top: 55%;
} */
.headingText {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin: 10px;
}
.product-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.product-image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
/* .viewMore {
  float: right;
  margin-right: 4%;
  cursor: pointer;
  border: 3px solid whitesmoke;
  padding: 3px;
} */
.imageProduct {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.product-details {
  position: absolute;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  z-index: -1;
  width: 25%;
}
.titileName {
  font-size: 25px;
  font-weight: 700;
  color: rgb(233, 164, 37);
}
.productdesc {
  font-size: 15px;
  font-style: italic;
  color: lightgray;
}
.productPrice {
  font-size: 25px;
  font-weight: 700;
}

@media only screen and (min-width: 400px) and (max-width: 850px) {
  .product-itemssss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .product-items {
    width: 40%;
    height: 500px;
    margin: 15px;
    box-shadow: 0px 1px 5px #e6e6e6;
  }
}
