.cart_container {
    margin: 20px;
}

.shoppingbag {
    font-size: 15px;
    margin-top: 10px;
    text-decoration: underline;

}

.mainContainer {
    width: 100%;
    display: flex;
}

.cartbtn {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(170, 252, 145);
    color: rgb(8, 8, 97);
    font-weight: 700;
    cursor: pointer;
}

.cartmainItems {
    width: 100%;
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
}

.mainleft {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cartleft {
    width: 90%;
    height: 100%;
    display: flex;
    box-shadow: 2px 1px 2px 2px rgb(170, 252, 145);
    margin: 15px;
}

.cartImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cartright {
    width: 30%;
    height: 400px;
    margin-left: 25px;
    box-shadow: 2px 1px 2px 2px rgb(170, 252, 145);
}

.innerleft {
    width: 30%;
    height: 220px;
}

.innerright {
    width: 70%;
    margin: 10px;
    margin-left: 25px;
}

.quantity_btns {
    display: flex;
    margin-left: auto;
}

.cartText {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    margin: 3px
}

.cartbtns {
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: transparent;
    margin: 2px;
}

.pricetag {
    float: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.addtoacartbtn {
    float: right;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(170, 252, 145);
    font-weight: 700;
    cursor: pointer;
}

.removecartBtn {
    margin-left: 20px;
    background-color: rgb(243, 106, 106);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}