.filterHeaders {
  height: 70px;
  width: 100%;
  margin-top: 3vh;
  display: flex;
}
.left-filters {
  margin: 20px 30px;
  font-size: 20px;
}

#colorandSize {
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
}
.right-filters {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 20px;
}
